@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

html {
  user-select: none;
}

body {
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background-color: rgb(15, 15, 15);
  flex-direction: column;
}

#aboutme {
  margin: 5% 0 3% 0;
}
h1 {
  font-size: 5em;
  margin: 0;
  color: white;
}

@supports (-webkit-text-stroke-color: white) and (-webkit-text-stroke-width: 1px) {
  h1 {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }
}

#text {
  margin-bottom: 1em;
  text-align: center;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  margin: 40px;
}

p {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 0;
  margin-bottom: 1.1em;
  font-size: 1.2em;
}
.mb {
  padding: 0.7em 1.95em;
  border: none;
  border-radius: 0.5em;
  margin: 0 0.5em 0.75em 0.5em;
  pointer-events: all;
  cursor: pointer;
  color: white;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 0 1px white;
  display: inline-block;
  text-decoration: none;
}
.mb:focus {
  outline: none;
}
.mb:hover {
  transform: scale(0.9);
}

#connections {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0.7em;
  pointer-events: all;
}
.connection {
  display: flex;
  margin: 3px;
  transition: all 0.2s ease-in-out;
}
.connection:hover {
  transform: scale(0.8);
}

@media only screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }
  #connections {
    align-self: inherit;
  }
  h1 {
    font-size: 4em;
  }
  .mb {
    padding: 0.5em 0.75em;
  }
}
@media only screen and (max-width: 400px) {
  h1 {
    font-size: 3em;
  }
}

.item-title {
  font-size: 3em;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 35vh;
  min-height: 250px;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.col {
  margin: 15px 0;
}
a {
  text-decoration: none;
}
a:focus {
  outline: none;
}
.item::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  z-index: -10;
  filter: brightness(70%);
}
.item:hover::before {
  transform: scale(1.25);
  filter: brightness(30%);
}

#darkoakcafe::before {
  background: url("../images/darkoakcafe.jpg") center / cover no-repeat;
}
#senecalearning::before {
  background: url("../images/senecalearning.jpg") center / cover no-repeat;
}
#conehead::before {
  background: url("../images/conehead.jpg") center / cover no-repeat;
}
#billionaireballer::before {
  background: url("../images/billionaireballer.jpg") center / cover no-repeat;
}
